<html>
    <head>
        <title> Sala Incorreta </title>
        <script>
            confirm("Essa Sala não exite, tente outra!")
            window.location.replace("/", {page: 'enter-room'})
        </script>
    </head>
</html>